<% layout('layout') -%>

<h1>about</h1>
<p>This is blog is nothing but another crappy dev blog with source codes and tuts about how to get things done without digging into problem of solving. Hope it will help in future to any stranger on this site and me of course.</p>
